<wm-page layouttype="blank" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <wm-html height="auto" width="100%" name="bodyContent">
                    <div>Hello!! Srikanth is testing WaveMaker VCS push feature at 11:00 on 8th Sept</div>
                    <div>Hello!! Srikanth again. Testing WaveMaker VCS pull feature at 11:10</div>
                </wm-html>
            </wm-column>
        </wm-row>
    </wm-content>
</wm-page>